extends layout

block content
 
 div(id="container")
  h1 Over ons.
  p deze applicatie is voleldige gemaakt door Jonas Reymen en Kevin Corne. Gebruikmakend van node, express, sockets, ...
  h3 TEAM
  div(class="kader")
   img(src="http://i.imgur.com/1JaBsz8.png", alt="", class="team")
   h5 Kevin Corne
   p Founder & CEO
  div(class="kader")
   img(src="http://i.imgur.com/9vp3Bv8.png", alt="", class="team")
   h5 Jonas Reymen
   p Founder & CEO

 script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")