extends layout

block content
  div(id="container")
   a(href="/logout") logout
   h3(id='question')
   button(class="btn btn-default btn-sm", id="lock")
    span(class="glyphicon glyphicon-lock", aria-hidden="true")
   h5(id='information')
   h5(id='auteur', class="auteur")
   br
   div(class="form-inline")
    div(class="input-group")
       a(class="input-group-addon",id='copyurl', data-clipboard-target='url', data-toggle="tooltip" data-placement="left" title="Copy to clipboard")
        span(class="glyphicon glyphicon-copy", aria-hidden="true", id="icon")
       input(id='url', type="text", class="form-control")
   br
   a(id="picturehref", target="_blank")
    img(id="picture", class="picture")
   hr
   ul(id="showanswers", class="list-group")
   p(id="errormessage")
   
   input(id="admin",type="hidden", value=user.facebook.admin)

   div(id="verdwijn")
    textarea(id="answer", rows="3", class="form-control")
    br
    button(type="submit" ,id='btn', class="btn btn-primary", value="Post your question") Help
    input(id="hidden", type="hidden" ,value=user.facebook.name)
    
  
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
  script(src="/socket.io/socket.io.js")
  script(type="text/javascript", src="/javascripts/zeroclipboard/dist/ZeroClipboard.js")
  script(src="/javascripts/answers.js")