extends layout

block content

   div(id="front")
    img(src="pictures/QA-app.png", alt="", id="animation")
    p= status
    h5 Registreer en meld je aan via:
    a(href="/auth/facebook" ,id="facebook")
     img(src="pictures/facebook.png", alt="facebook login")
    h5 Of meld je aan als een admin:
    div(class="input-group")
     label(for="username")  gebruikersnaam: 
     input(type="text", name="username", id="username", class="form-control")
    div(class="input-group")
     label(for="password")  paswoord:  
     input(type="password", name="password", id="password", class="form-control") 
    br
    button(type="submit", value="Log in!", id="btn", class="btn btn-primary") Login

   script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
