doctype html
html
  head
    title Q & A
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
    link(rel='stylesheet', href='/stylesheets/css/style.css')
  body
    nav(class="navbar navbar-default navbar-fixed-top")
     div(class="container")
      div(class="navbar-header")
       button(type="button", class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
        span(class="sr-only")
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
       a(href="/ask_a_question")
        img(alt="Brand", id="brand", src="pictures/QA-app.png")
      div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
       ul(class="nav navbar-nav navbar-right")
        li
         a(href="/ask_a_question") Vragen
        li
         a(href="/about") Over
   block content