nav(class="navbar navbar-default navbar-fixed-top")
     div(class="container")
      div(class="navbar-header")
       button(type="button", class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
        span(class="sr-only")
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
       a(href="/ask_a_question")
        img(alt="Brand", id="brand", src="pictures/QA-app.png")
      div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
       ul(class="nav navbar-nav navbar-right")
        li
         a(href="/ask_a_question") Questions
        li
         a(href="/about") Over