extends layout

block content

  div(id="container")
   a(href="/logout") logout
   h3 Alle vragen
    button(type="submit", class="btn btn-primary btn-sm", id="postquestion") Stel zelf een vraag!
    a(href="#", id='buurt', class="btn btn-primary btn-sm") Zoek vragen in de buurt 
   div(id="post")
    label(for="title") Titel: 
    input(type="text", id="title", name="title", class="form-control")
    br
    textarea(id="information", rows="5" ,class="form-control")
    br
    div(class="form-inline")
     div(class="input-group")

      label(for="picture") URL foto: 
      input(type="text", id="picture", class="form-control")
    br
    p(id="errormessage")
    button(type="submit", class="btn btn-primary" ,id='ask', value="Post your question") Post uw vraag!
   input(id="hidden", type="hidden", value=user.facebook.name)

   br
   ul(id="showquestions", class="list-group")
  
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js")
  script(src="/javascripts/question.js")