body {
  padding: 75px;
  background-image: url("../../pictures/pattern.png");
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

h3 {
  color: #325F9E;
  font-weight: bold; }

.auteur, #from {
  color: #445963;
  font-weight: bold;
  opacity: 0.5; }

#animation {
  -webkit-animation: animatie 2s infinite; }

#appendli {
  -webkit-animation: animatieappend 1s both; }

.list-group-item a {
  font-size: 20px;
  font-weight: bold; }

@-webkit-keyframes animatieappend {
  from {
    -webkit-transform: rotateX(-90deg); }
  to {
    -webkit-transform: rotateX(0deg); } }
@-webkit-keyframes animatie {
  25% {
    -webkit-transform: rotate(10deg); }
  75% {
    -webkit-transform: rotate(-10deg); } }
#brand {
  width: 75px; }

#crop {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
  padding-bottom: 15px; }

#errormessage {
  color: red; }

.navbar {
  padding: 5px; }

.picture {
  width: 350px; }

.team {
  width: 100px;
  height: 100px;
  border-radius: 50%; }

#container {
  padding: 5px; }

#front {
  margin-top: 30px; }
  #front img {
    width: 150px; }
  #front .form-control {
    margin-top: 10px;
    margin-bottom: 10px; }

#uwvraag {
  border: 1px solid #325F9E; }

#facebook img {
  width: 40px;
  margin-top: 10px;
  margin: 10px; }
  #facebook img:hover {
    opacity: 0.7; }

#front {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

#buurt {
  margin-left: 5px; }

#postquestion {
  margin-left: 5px; }

@media screen and (min-width: 960px) {
  #container {
    width: 960px;
    margin-right: auto;
    margin-left: auto; }

  #lock {
    float: right; }

  #buurt {
    float: right; }

  #postquestion {
    margin-left: 20px; } }

/*# sourceMappingURL=style.css.map */
