body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#errormessage{
	color: red;
}

.navbar{
	padding: 5px;
}

.picture{
	width: 350px;
}

.team{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

@media screen and (min-width: 960px) {
	#container{
		width: 960px;
		margin-right: auto;
		margin-left: auto;
	}
}