$color1: #325F9E;
$color2: #445963;
$margin: 5px;
$color3: #F9F9F9;

body {
  padding: 75px;
  background-image: url('../../pictures/pattern.png');
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h3{
	color: $color1;
	font-weight: bold;
}

.auteur, #from{
	color: $color2;
	font-weight: bold;
	opacity: 0.5;
}

#animation{
	-webkit-animation: animatie 2s infinite
}

#appendli{
	-webkit-animation: animatieappend 1s both;
}

.list-group-item a{
	font-size: 20px;
	font-weight: bold;
}

@-webkit-keyframes animatieappend{
	from { -webkit-transform: rotateX(-90deg);    }
    to   { -webkit-transform: rotateX(0deg); }
}

@-webkit-keyframes animatie
{
25% { -webkit-transform: rotate(10deg);}
75% { -webkit-transform: rotate(-10deg);}
}

#brand{
	width: 75px;
}

#crop{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 10px;
	padding-bottom: 15px;
}

#errormessage{
	color: red;
}

.navbar{
	padding: $margin;
}

.picture{
	width: 350px;
}

.team{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#container{
	padding: $margin;
}

#front{
	margin-top:30px;
	img{
		width: 150px;
	}
	.form-control{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

#uwvraag{
	border: 1px solid $color1;
}



#facebook{
	
	img{
		width: 40px;
		margin-top: 10px;
		margin: 10px;
		&:hover{
			opacity: 0.7;
		}
	}
}

#front{
	display: block;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#buurt{
	margin-left: 5px;
}

#postquestion{
	margin-left: 5px;
}

@media screen and (min-width: 960px) {
	#container{
		width: 960px;
		margin-right: auto;
		margin-left: auto;
	}

	#lock{
		float: right;
	}

	#buurt{
		float: right;
	}

	#postquestion{
		margin-left: 20px;
	}
}